:root{
  --amplify-primary-color: #232526;
}

.eui-nav>.eui-btn,
.eui-nav>.eui-btn .eui-btn-styles,
.eui-nav>.eui-dropdown .eui-dropdown-toggle,
.eui-nav>.eui-dropdown .eui-dropdown-toggle .eui-btn-styles,
.eui-nav>a,
.eui-nav>a .eui-btn-styles {
  color: rgba(255, 255, 255, .87)
}

.eui-nav>.eui-btn:hover,
.eui-nav>.eui-dropdown .eui-dropdown-toggle:hover,
.eui-nav>a:hover {
    color: rgba(255, 255, 255, .99);
    background: 0 0 !important
}

.eui-nav>.eui-btn:hover,
.eui-nav>.eui-dropdown .eui-dropdown-toggle:hover,
.eui-nav>a:hover {
    color: rgba(255, 255, 255, .99);
    background: 0 0 !important
}

.eui-nav>.eui-btn:hover .eui-btn-styles,
.eui-nav>.eui-dropdown .eui-dropdown-toggle:hover .eui-btn-styles,
.eui-nav>a:hover .eui-btn-styles {
    background: 0 0 !important
}

.eui-nav>.eui-btn:focus,
.eui-nav>.eui-dropdown .eui-dropdown-toggle:focus,
.eui-nav>a:focus {
    box-shadow: inset 0 -3px 0 #8ccbff !important
}

.eui-nav>.eui-btn:focus .eui-btn-styles,
.eui-nav>.eui-dropdown .eui-dropdown-toggle:focus .eui-btn-styles,
.eui-nav>a:focus .eui-btn-styles {
    background-color: transparent !important
}

.eui-nav>.eui-btn.active,
.eui-nav>.eui-btn:active,
.eui-nav>.eui-dropdown .eui-dropdown-toggle.active,
.eui-nav>.eui-dropdown .eui-dropdown-toggle:active,
.eui-nav>a.active,
.eui-nav>a:active {
    color: rgba(255, 255, 255, .99);
    background-color: transparent !important
}

.eui-nav>.eui-btn.active.eui-btn-default:hover .eui-btn-styles,
.eui-nav>.eui-btn:active.eui-btn-default:hover .eui-btn-styles,
.eui-nav>.eui-dropdown .eui-dropdown-toggle.active.eui-btn-default:hover .eui-btn-styles,
.eui-nav>.eui-dropdown .eui-dropdown-toggle:active.eui-btn-default:hover .eui-btn-styles,
.eui-nav>a.active.eui-btn-default:hover .eui-btn-styles,
.eui-nav>a:active.eui-btn-default:hover .eui-btn-styles {
    background-color: transparent !important
}

.eui-nav>.eui-btn.active:focus,
.eui-nav>.eui-btn:active:focus,
.eui-nav>.eui-dropdown .eui-dropdown-toggle.active:focus,
.eui-nav>.eui-dropdown .eui-dropdown-toggle:active:focus,
.eui-nav>a.active:focus,
.eui-nav>a:active:focus {
    box-shadow: inset 0 -4px 0 #8ccbff !important
}

.eui-nav>.eui-btn.tab-focus:focus,
.eui-nav>.eui-dropdown .eui-dropdown-toggle.tab-focus:focus,
.eui-nav>a.tab-focus:focus {
    box-shadow: 0 0 0 3px rgba(194, 219, 249, .5), inset 0 -3px 0 #8ccbff !important
}

.eui-navbar .eui-navbar-bar .eui-navbar-brand a:focus {
    box-shadow: 0 0 0 3px rgba(194, 219, 249, .5)
}

.eui-nav>.eui-btn[disabled],
.eui-nav>.eui-dropdown .eui-dropdown-toggle[disabled],
.eui-nav>a[disabled] {
    color: #fff
}

.eui-navbar,
.eui-navbar.eui-navbar-inverse {
    background: rgba(29, 33, 33, .99) !important
}

.eui-navbar .eui-navbar-toggle span {
    background: rgba(255, 255, 255, .99)
}

.eui-navbar .eui-navbar-bar,
.eui-navbar .eui-navbar-bar .eui-navbar-brand a {
    color: rgba(255, 255, 255, .99)
}

.eui-navbar .eui-navbar-bar .eui-nav .eui-dropdown .eui-dropdown-toggle .eui-btn-styles,
.eui-navbar .eui-navbar-bar .eui-nav>a,
.eui-navbar .eui-navbar-bar .eui-nav>a i {
    color: rgba(255, 255, 255, .99)
}

.eui-navbar .eui-navbar-collapsed {
    background: rgba(0, 0, 0, .99)
}

.eui-navbar .eui-navbar-collapsed .eui-nav>a {
    color: rgba(255, 255, 255, .99);
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.eui-navbar .eui-navbar-collapsed .eui-nav .eui-dropdown .eui-dropdown-toggle {
    color: rgba(255, 255, 255, .99);
    border-bottom-color: transparent
}

.eui-navbar .eui-navbar-collapsed .eui-nav .eui-dropdown .eui-dropdown-menu {
    border-top: none
}

.eui-navbar .eui-navbar-collapsed .eui-nav .eui-dropdown .eui-dropdown-menu a {
    color: rgba(255, 255, 255, .99)
}

.eui-navbar .eui-navbar-collapsed .eui-nav .eui-dropdown.show .eui-dropdown-toggle {
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.eui-navbar .eui-navbar-bar .eui-nav .eui-dropdown-toggle:after,
.eui-navbar .eui-navbar-bar .eui-nav>a:after,
.eui-navbar.open .eui-navbar-collapsed .eui-nav a.active:after {
    background: #8ccbff
}



.eui-navbar .eui-navbar-bar .eui-nav .eui-dropdown.show .eui-dropdown-toggle .eui-btn-styles,
.eui-navbar .eui-navbar-bar .eui-nav>a:focus,
.eui-navbar .eui-navbar-bar .eui-nav>a:focus i,
.eui-navbar .eui-navbar-bar .eui-nav>a:hover,
.eui-navbar .eui-navbar-bar .eui-nav>a:hover i,
.eui-show-more-toggle,
.eui-steps ul li.active .eui-step-label,
a {
    color: #8ccbff
}

.eui-nav>.eui-btn.active,
.eui-nav>.eui-dropdown .eui-dropdown-toggle.active,
.eui-nav>a.active {
    box-shadow: inset 0 -3px 0 #8ccbff
}

.eui-navbar .eui-navbar-collapsed .eui-nav .eui-dropdown .eui-dropdown-toggle .eui-btn-styles {
    color: rgba(255, 255, 255, .99)
}

.full-container{
  width: 90%;
  margin: 30px auto;
}
.navbar-custom{
  background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.add-new-payment, .add-new-income, .add-new-autofill {
  cursor: pointer;
}

.prepayment-item-expansion-content form{
  margin-top: 20px;
}
.prepayment-item-expansion-content form input,
.prepayment-item-expansion-content form select,
.send-prepayment-button{
  font-size: 14px;
}
.send-prepayment-button{
  float: right;
}
.home-container{
  display: flex;
  flex-direction: column;
}
.eui-table>tbody>tr>td, .eui-table>thead>tr>th{
  padding: 10px ;
}
.home-container .stats-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  width: 100%;
  justify-content: center;
}
.container-timming-buton{
  margin: 0px auto; 
  display: block;
  width: 300px;
}
.container-timming-buton button{
  border: 1px solid grey;
  padding: 5px 10px;
}
.container-timming-buton button.selected{
  background-color: rgb(204, 204, 204);
}
.container-timming-buton button:hover{
  background-color: rgb(223, 223, 223);
}
.categories-container{
  display: flex;
  height: 20%;
  justify-content: center;
  flex-flow: row wrap;
  flex-direction: row;
  margin: 10px auto;
}
.modal-category-item{

  margin: 10px 0;
}
.category-item-amount, .category-item-desc, .category-item-date{
  display: inline-block ;
  padding: 1px 10px;
}
.category-item-amount{
  border-radius: 8px;
  font-size: 13px;
  color: rgb(63, 62, 62);
  font-weight: bold;
  background-color: rgb(207, 214, 207);
  float: right;
}
.category-item-date{
  font-size: 14px;
  margin-left: 15px;
  border-radius: 4px;
  position: relative;
  background: rgb(230, 230, 230);
  z-index: 1;
  opacity: 0;
  transition: all .2s;
}

.category-item-desc:hover + .category-item-date{
  opacity: 1;
}
.category-item-date::after{
  content: "";
  position: absolute;
  left: -3px;
  top: 4px;
  z-index: -1;
  width: 14px;
  height: 14px;
  display: block;
  transform: rotate(45deg);
  background: rgb(230, 230, 230);
}

.categories-container .category-item{
  margin: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
  border: 0px; 
  width: 200px;

  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: 0px 0px 10px 2px rgb(192, 192, 192);
}
.eui-dropdown-menu.show{
  right: 0 !important;
}
.categories-container .category-item p{
  margin: 0px;
  font-weight: 300;
  font-size: 14px;
  color: rgb(231, 231, 231);
}
.categories-container .category-item p span{
  color: white;
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
}
.home-container .container-timming-buton button:first-child{  
  border-radius: 5px 0px 0px 5px;
}
.home-container .container-timming-buton button:last-child{  
  border-radius: 0px 5px 5px 0px;
}
.table-container-emerald{
  margin: 10px;
}
.table-container-emerald{
  max-width: 600px;
}
.full-screen-secret-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgb(29, 29, 29) 0%,
    rgb(29, 29, 29) 100%
  );
}

.login-container{
  height: 150px;
  width: 500px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 0px 10px rgb(42, 42, 42);
}
.secret-key-input-container{
  display: flex;
  width: 100%;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sign-in-button{
  margin-top: 20px;
  margin-left: 20px;
}
#passwordmeter{
  margin-top: 60px;
  margin-left: -250px;
}
#passwordmeter::before{
  left: 10px;
  top: -5px;
  transform: rotate(135deg)
}

.bank-filters-information p{
  margin-left: 15px;
}
.profile-container {
  display: flex;
  justify-content: center;
}
.profile-container > div{
  /* display: flex; */

  width: 70%;
}
.user-emails p,
.user-phones p{
  margin-left: 10px;
}
.user-categories h2{
  display: block;
}
.user-categories .eui-label{
  margin-right: 5px;
  margin-top: 5px; 
  display: inline-block;
}
.add-new-category{
  cursor: pointer;
}
.user-budgets-category p{
  color: grey; 
}
.eui-text-field + .eui-text-field{
  margin-top: 10px !important;
}
.brand-logo-img{
  height: 30px;
}

@media screen and (max-width: 720px) {
  .home-container .stats-container{
    display: none; 
  }
}

/*PROFILE CONTAINER*/

.bank-list-header{
  display: flex;
  justify-content: space-between;
  margin: 10px auto; 
}

.bank-list-header h2{
  margin: 0;
}

.add-new-budget, .add-new-autofill{
  cursor: pointer;
  display: inline-block;
}

.budget-labels-container{
  display: block;
}

.budget-label{
  display: inline-block;
  width: 80%;
  margin-right: 10px;
  margin-top: 5px; 
}